

<section class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <!--begin::Stepper-->
                
                <div class="stepper stepper-pills mt-20" id="kt_stepper_example_clickable">
                    <!--begin::Nav-->
                    <div class="stepper-nav flex-center flex-wrap mb-10">
                        <!--begin::Step 1-->
                        <div class="stepper-item mx-8 my-4 current" data-kt-stepper-element="nav" data-kt-stepper-action="step">
                            <!--begin::Wrapper-->
                            <div class="stepper-wrapper d-flex align-items-center">
                                <!--begin::Icon-->
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">1</span>
                                </div>
                                <!--end::Icon-->

                                <!--begin::Label-->
                                <div class="stepper-label">
                                    <h3 class="stepper-title">
                                        Step 1
                                    </h3>

                                    <div class="stepper-desc">
                                       Problem Description and Contact Details
                                    </div>
                                </div>
                                <!--end::Label-->
                            </div>
                            <!--end::Wrapper-->

                            <!--begin::Line-->
                            <div class="stepper-line h-40px"></div>
                            <!--end::Line-->
                        </div>
                        <!--end::Step 1-->

                        <!--begin::Step 2-->
                        <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav" data-kt-stepper-action="step">
                            <!--begin::Wrapper-->
                            <div class="stepper-wrapper d-flex align-items-center">
                                <!--begin::Icon-->
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">2</span>
                                </div>
                                <!--begin::Icon-->

                                <!--begin::Label-->
                                <div class="stepper-label">
                                    <h3 class="stepper-title">
                                        Step 2
                                    </h3>

                                    <div class="stepper-desc">
                                      Confirmation and Quotation
                                    </div>
                                </div>
                                <!--end::Label-->
                            </div>
                            <!--end::Wrapper-->

                            <!--begin::Line-->
                            <div class="stepper-line h-40px"></div>
                            <!--end::Line-->
                        </div>
                        <!--end::Step 2-->

                        <!--begin::Step 3-->
                        <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav" data-kt-stepper-action="step">
                            <!--begin::Wrapper-->
                            <div class="stepper-wrapper d-flex align-items-center">
                                <!--begin::Icon-->
                                <div class="stepper-icon w-40px h-40px">
                                    <i class="stepper-check fas fa-check"></i>
                                    <span class="stepper-number">3</span>
                                </div>
                                <!--begin::Icon-->

                                <!--begin::Label-->
                                <div class="stepper-label">
                                    <h3 class="stepper-title">
                                        Step
                                    </h3>

                                    <div class="stepper-desc">
                                      Booking and Finalization
                                    </div>
                                </div>
                                <!--end::Label-->
                            </div>
                            <!--end::Wrapper-->

                            <!--begin::Line-->
                            <div class="stepper-line h-40px"></div>
                            <!--end::Line-->
                        </div>
                        <!--end::Step 3-->

                   
                    </div>
                    <!--end::Nav-->

                    <!--begin::Form-->
                    <form class="form w-full mx-auto" novalidate="novalidate" id="kt_stepper_example_basic_form">
                        <div class="mt-8 p-4">
                            <div>
                                <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">Full Name</div>
                                <div class="flex flex-col md:flex-row">
                                    <div class="w-full flex-1 mx-2 svelte-1l8159u">
                                        <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                                            <input placeholder="First Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                                    </div>
                                    <div class="w-full flex-1 mx-2 svelte-1l8159u">
                                        <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                                            <input placeholder="Last Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                                    </div>
                                </div>
                                <div class="flex flex-col md:flex-row">
                                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                                        <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Username</div>
                                        <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                                            <input placeholder="Just a hint.." class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                                    </div>
                                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                                        <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Your Email</div>
                                        <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                                            <input placeholder="jhon@doe.com" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md:flex mb-6">
                                <div class="md:w-1/3">
                                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                                        Text Field
                                    </label>
                                </div>
                                <div class="md:w-2/3">
                                    <input class="form-input block w-full focus:bg-white" id="my-textfield" type="text" value="" />
                                    <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                                </div>
                            </div>
              
                            <div class="md:flex mb-6">
                                <div class="md:w-1/3">
                                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                                        Drop down field
                                    </label>
                                </div>
                                <div class="md:w-2/3">
                                    <select name="" class="form-select block w-full focus:bg-white" id="my-select">
                                        <option value="Default">Default</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
              
                                    <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                                </div>
                            </div>
              
                            <div class="md:flex mb-6">
                                <div class="md:w-1/3">
                                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                                        Text Area
                                    </label>
                                </div>
                                <div class="md:w-2/3">
                                    <textarea class="form-textarea block w-full focus:bg-white" id="my-textarea" value="" rows="8"></textarea>
                                    <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                                </div>
                            </div>
                            <div class="flex p-2 mt-4">
                                <button class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                            hover:bg-gray-200  
                            bg-gray-100 
                            text-gray-700 
                            border duration-200 ease-in-out 
                            border-gray-600 transition">Previous</button>
                                <div class="flex-auto flex flex-row-reverse">
                                    <button class="text-base  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                            hover:bg-teal-600  
                            bg-teal-600 
                            text-teal-100 
                            border duration-200 ease-in-out 
                            border-teal-600 transition">Next</button>
                                    <button class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
                            hover:bg-teal-200  
                            bg-teal-100 
                            text-teal-700 
                            border duration-200 ease-in-out 
                            border-teal-600 transition">Skip</button>
                                </div>
                            </div>
                        </div>
                        <!--end::Group-->

                        <!--begin::Actions-->
                        <div class="d-flex flex-stack">
                            <!--begin::Wrapper-->
                            <div class="me-2">
                                <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                                    Back
                                </button>
                            </div>
                            <!--end::Wrapper-->

                            <!--begin::Wrapper-->
                            <div>
                                <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                                    <span class="indicator-label">
                                        Submit
                                    </span>
                                    <span class="indicator-progress"> Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span> </span>
                                </button>

                                <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                                    Continue
                                </button>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Stepper-->
              
            </div>
           
        </div>
    </div>
</section>


<div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-1">
  <div class="w-full lg:w-1/5 px-6 text-xl text-gray-800 leading-normal">
      <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Menu</p>
      <div class="block lg:hidden sticky inset-0">
          <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-yellow-600 appearance-none focus:outline-none">
              <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
          </button>
      </div>
      <div
          class="w-full sticky inset-0 hidden max-h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 my-2 lg:my-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20"
          style="top: 6em;"
          id="menu-content"
      >
          <ul class="list-reset py-2 md:py-0">
              <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent font-bold border-yellow-600">
                  <a href="#section1" class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                      <span class="pb-1 md:pb-0 text-sm">Section 1</span>
                  </a>
              </li>
              <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                  <a href="#section2" class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                      <span class="pb-1 md:pb-0 text-sm">Section 2</span>
                  </a>
              </li>
              <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                  <a href="#section3" class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                      <span class="pb-1 md:pb-0 text-sm">Section 3</span>
                  </a>
              </li>
              <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                  <a href="#section4" class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                      <span class="pb-1 md:pb-0 text-sm">Section 4</span>
                  </a>
              </li>

              <li class="py-1 md:my-2 hover:bg-yellow-100 lg:hover:bg-transparent border-l-4 border-transparent">
                  <a href="#section5" class="block pl-4 align-middle text-gray-700 no-underline hover:text-yellow-600">
                      <span class="pb-1 md:pb-0 text-sm">Section 5</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>

  <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.
  
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.
  
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <!-- Heroicon name: outline/exclamation-triangle -->
                <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Deactivate account</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Deactivate</button>
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Section container-->
  <section class="w-full lg:w-4/5">

    
<!-- Section 1 -->
<!-- component -->
<div class="p-5">
    <div class="mx-4 p-4">
        <div class="flex items-center">
            <div class="flex items-center text-teal-600 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-teal-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark ">
                        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-teal-600">Personal</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-teal-600"></div>
            <div class="flex items-center text-white relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-teal-600 border-teal-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus ">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="8.5" cy="7" r="4"></circle>
                        <line x1="20" y1="8" x2="20" y2="14"></line>
                        <line x1="23" y1="11" x2="17" y2="11"></line>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-teal-600">Account</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail ">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Message</div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database ">
                        <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                        <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                        <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                    </svg>
                </div>
                <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Confirm</div>
            </div>
        </div>
    </div>
    <div class="mt-8 p-4">
        <div>
            <div class="font-bold text-gray-600 text-xs leading-8 uppercase h-6 mx-2 mt-3">Full Name</div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full flex-1 mx-2 svelte-1l8159u">
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="First Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
                <div class="w-full flex-1 mx-2 svelte-1l8159u">
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="Last Name" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Username</div>
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="Just a hint.." class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-bold h-6 mt-3 text-gray-600 text-xs leading-8 uppercase"> Your Email</div>
                    <div class="bg-white my-2 p-1 flex border border-gray-200 rounded svelte-1l8159u">
                        <input placeholder="jhon@doe.com" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
                </div>
            </div>
        </div>
        <div class="flex p-2 mt-4">
            <button class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-gray-200  
        bg-gray-100 
        text-gray-700 
        border duration-200 ease-in-out 
        border-gray-600 transition">Previous</button>
            <div class="flex-auto flex flex-row-reverse">
                <button class="text-base  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-600  
        bg-teal-600 
        text-teal-100 
        border duration-200 ease-in-out 
        border-teal-600 transition">Next</button>
                <button class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
        hover:bg-teal-200  
        bg-teal-100 
        text-teal-700 
        border duration-200 ease-in-out 
        border-teal-600 transition">Skip</button>
            </div>
        </div>
    </div>
  </div>
      <!--Title-->
      <h1 class="flex items-center font-sans font-bold break-normal text-gray-700 px-2 text-xl mt-12 lg:mt-0 md:text-2xl">
          Multi Section Form with Scrollspy
      </h1>

      <!--divider-->
      <hr class="bg-gray-300 my-12" />

      <!--Title-->
      <h2 id="section1" class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Section 1</h2>

      <!--Card-->
      <div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-white">
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
          </div>
          <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map> -->
          <li>Using the CDN version of <a class="underline text-yellow-600" href="https://github.com/tailwindcss/custom-forms" target="_blank">Tailwind Custom Forms</a></li>
          <li>This template uses jQuery for scrollspy</li>
      </div>
      <!--/Card-->

      <!--divider-->
      <hr class="bg-gray-300 my-12" />

      <!--Title-->
      <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Section 2</h2>

      <!--Card-->
      <div id="section2" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
          <form>
              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                          Text Field
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <input class="form-input block w-full focus:bg-white" id="my-textfield" type="text" value="" />
                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                          Drop down field
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <select name="" class="form-select block w-full focus:bg-white" id="my-select">
                          <option value="Default">Default</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                      </select>

                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textarea">
                          Text Area
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <textarea class="form-textarea block w-full focus:bg-white" id="my-textarea" value="" rows="8"></textarea>
                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex md:items-center">
                  <div class="md:w-1/3"></div>
                  <div class="md:w-2/3">
                      <button class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                          Save
                      </button>
                  </div>
              </div>
          </form>
      </div>
      <!--/Card-->

      <!--divider-->
      <hr class="bg-gray-300 my-12" />

      <!--Title-->
      <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Section 3</h2>

      <!--Card-->
      <div id="section3" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
          <form>
              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-multiselect">
                          Multi Select
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <select class="form-multiselect block w-full" multiple id="my-multiselect">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                      </select>
                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex md:items-center">
                  <div class="md:w-1/3"></div>
                  <div class="md:w-2/3">
                      <button class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                          Save
                      </button>
                  </div>
              </div>
          </form>
      </div>
      <!--/Card-->

      <!--divider-->
      <hr class="bg-gray-300 my-12" />

      <!--Title-->
      <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Section 4</h2>

      <!--Card-->
      <div id="section4" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
          <form>
              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-radio">
                          Radio Buttons
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <div class="mt-2">
                          <label class="inline-flex items-center">
                              <input type="radio" class="form-radio text-indigo-600" name="radioOption" value="A" />
                              <span class="ml-2">Radio A</span>
                          </label>
                          <label class="inline-flex items-center ml-6">
                              <input type="radio" class="form-radio" name="radioOption" value="B" />
                              <span class="ml-2">Radio B</span>
                          </label>
                      </div>
                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex mb-6">
                  <div class="md:w-1/3">
                      <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-checkbox">
                          Checkboxes
                      </label>
                  </div>
                  <div class="md:w-2/3">
                      <div>
                          <label class="inline-flex items-center">
                              <input type="checkbox" class="form-checkbox text-indigo-600" checked />
                              <span class="ml-2">Option 1</span>
                          </label>
                      </div>
                      <div>
                          <label class="inline-flex items-center">
                              <input type="checkbox" class="form-checkbox text-green-500" checked />
                              <span class="ml-2">Option 2</span>
                          </label>
                      </div>
                      <div>
                          <label class="inline-flex items-center">
                              <input type="checkbox" class="form-checkbox text-pink-600" checked />
                              <span class="ml-2">Option 3</span>
                          </label>
                      </div>
                      <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
                  </div>
              </div>

              <div class="md:flex md:items-center">
                  <div class="md:w-1/3"></div>
                  <div class="md:w-2/3">
                      <button class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                          Save
                      </button>
                  </div>
              </div>
          </form>
      </div>
      <!--/Card-->

      <!--divider-->
      <hr class="bg-gray-300 my-12" />

      <!--Title-->
      <h2 class="font-sans font-bold break-normal text-gray-700 px-2 pb-8 text-xl">Section 5</h2>

      <!--Card-->
      <div id="section5" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
          <blockquote class="border-l-4 border-yellow-600 italic my-4 pl-8 md:pl-12">Final confirmation disclaimer message etc</blockquote>

          <div class="pt-8">
              <button class="shadow bg-yellow-700 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded mr-4" type="button">
                  Save
              </button>

              <button class="shadow bg-yellow-100 hover:bg-yellow-200 focus:shadow-outline focus:outline-none text-gray-700 font-bold py-2 px-4 rounded mr-4" type="button">
                  Additional Action
              </button>

              <button class="shadow bg-yellow-100 hover:bg-yellow-200 focus:shadow-outline focus:outline-none text-gray-700 font-bold py-2 px-4 rounded" type="button">
                  Additional Action
              </button>
          </div>
      </div>
      <!--/Card-->
  </section>
  <!--/Section container-->

  <!--Back link -->
  <div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-600 px-4 py-24 mb-12">
      <span class="text-base text-yellow-600 font-bold">&lt;</span> <a href="#" class="text-base md:text-sm text-yellow-600 font-bold no-underline hover:underline">Back link</a>
  </div>
</div>
